extends layout.jade

block menu
  h1
    span Poe Guide

  hr.menu-top

  menu

    - var listNo = 1
    mixin list(status)
      ul
        li(class='index index-' + status)= listNo++
        block

    mixin listitem(title, status)
      - var href = '#' + title.split(' ').join('-').toLowerCase()
      li(class='menuitem menuitem-' + status): a(href=href)= title

    +list('complete')
      +listitem('Introduction', 'complete')
      +listitem('Overview', 'complete')
      +listitem('Getting Started', 'complete')
      +listitem('Hello World', 'complete')
      +listitem('Structure', 'complete')

    +list()
      +listitem('Todo App')
      +listitem('Requirement', 'incomplete')
      +listitem('Front-Ends', 'incomplete')
      +listitem('Contracts', 'incomplete')
      +listitem('Systems', 'incomplete')

    +list('incomplete')
      +listitem('In the Browser', 'incomplete')
      +listitem('Markup', 'incomplete')
      +listitem('Stylesheets', 'incomplete')
      +listitem('Javascript', 'incomplete')
      +listitem('A Static Site', 'incomplete')

    +list('incomplete')
      +listitem('Client Hypermedia', 'incomplete')
      +listitem('Data Binding', 'incomplete')
      +listitem('Forms', 'incomplete')
      +listitem('Composition', 'incomplete')
      +listitem('A Front End', 'incomplete')

    +list('incomplete')
      +listitem('API Design', 'incomplete')
      +listitem('Hypermedia', 'incomplete')
      +listitem('Specs and Standards', 'incomplete')
      +listitem('A Mock API', 'incomplete')

    +list()
      +listitem('Appendix')
      +listitem('Organizations')
      +listitem('Resources')
      +listitem('Credits', 'incomplete')
      +listitem('License', 'incomplete')

    //- +list(5, 'incomplete')
    //-   +listitem('Full-Stack', 'incomplete')
    //-   +listitem('Requirements', 'incomplete')
    //-   +listitem('Front-Ends', 'incomplete')
    //-   +listitem('Contracts', 'incomplete')
    //-   +listitem('Systems', 'incomplete')

  hr.menu-bottom

  .quotes
    .quote
      blockquote.quote-value
      strong.quote-author

block content

  mixin section(name)
    - var id = name.split(' ').join('-').toLowerCase()
    - var section = id + '-section'
    h2(id=id)= name
    section(id=section class=section)
      block

  mixin subsection(name)
    - var id = name.split(' ').join('-').toLowerCase()
    .subsection(id=id)
      h3= name
      block

  +section('Introduction')
    +subsection('Overview'): include:md includes/overview.md
    +subsection('Getting Started'): include:md includes/getting-started.md
    +subsection('Hello World'): include:md includes/hello-world.md
    +subsection('Structure'): include includes/files

  //- +section('Front-End')
  //-   +subsection('Jade')
  //-   +subsection('Stylus')

  +section('Appendix')
    +subsection('Organizations'): include:md includes/organizations.md
    +subsection('Resources'): include:md includes/resources.md

  script
    include includes/click.js
  style
    include:styl index.styl
