
p Let's start by exploring how the project is organized. Here is our current project's tree:

.filetree
  .filetree-help
    include:md filetree-help.md

  .filetree-code
    mixin line(indent, text, classes, ignored)
      .line.file(class=classes)
        code.indent=indent
        .text
          if !ignored
            code.text-code= text
            input.text-checkbox(type='checkbox' hidden)
            .inner
              if locals[text]
                div.raw-file(class=classes)= locals[text]
              block
          else
            code.text-code.ignored= text

    mixin grouping(text, classes)
      .grouping(class=classes)
        - var proper = text[0].toUpperCase() + text.slice(1)
        .grouping-single= proper
        block

    +grouping("configuration", ["parent-3 configuration"])
      +line("|-- ", ".env", ["configuration"]): include:md files/.env.md
      +line("|-- ", "package.json", ["configuration"]): include:md files/package.json.md
      +line("|-- ", "component.json", ["configuration show"]): include:md files/component.json.md

    +grouping("boilerplate", ["parent-3 boilerplate"])
      +line("|-- ", "Makefile", ["boilerplate"]): include:md files/Makefile.md
      +line("|-- ", "Procfile.dev", ["boilerplate"]): include:md files/Procfile.md
      +line("|-- ", "app.js", ["boilerplate"]): include:md files/app.js.md

      //- +grouping("build", ["parent-6 build"])
      //-   +line("|-- ", "build", ["build"]): include:md files/build
      //-   +line("|   |-- ", "app.js", ["build"])
      //-   +line("|   |-- ", "require.js", ["build"])
      //-   +line("|   |-- ", "script.js", ["build"])
      //-   +line("|   |-- ", "style.css", ["build"])
      //-    +line("|   `-- ", "vendor.js", ["build"])

    +grouping("  ", ["parent-1"])
      +line("|-- ", "public", [], true)

    +grouping("javascript", ["parent-3 javascript"])
      +line("|   |-- ", "javascripts")
      +line("|   |   |-- ", "index.js"): include:md files/index.js.md
      +line("|   |   `-- ", "routes.js"): include:md files/routes.js.md

    +grouping("partials", ["parent-3 partials"])
      +line("|   |-- ", "partials", ["markup"]): include:md files/partials.md
      +line("|   |   |-- ", "header.jade", ["markup"])
      +line("|   |   `-- ", "index.jade", ["markup"])

    +grouping("styles", ["parent-2 styles"])
      +line("|   `-- ", "stylesheets", ["styles"])
      +line("|       `-- ", "index.styl", ["styles"])

    +grouping("view", ["parent-2 view"])
      +line("`-- ", "views")
      +line("    `-- ", "index.jade")
