h3 Files

p Let's start by exploring how the project is organized. Here is our current project's tree:

.filetree
  .filetree-help
    p Hover over a file see more information.
    p Click a file to toggle the information on/off.

  .filetree-code

    mixin line(indent, text, classes, ignored)
      .line.file(class=classes)
        code.indent=indent
        .text
          if !ignored
            code.text-code= text
            input.text-checkbox(type='checkbox' hidden)
            .inner
              block
          else
            code.text-code.ignored= text

    mixin grouping(text, classes)
      .grouping(class=classes)
        - var proper = text[0].toUpperCase() + text.slice(1)
        h3.grouping-single: span= proper
        block

    +grouping("configuration", ["parent-3 configuration"])
      +line("|-- ", ".env", ["configuration"]): include:md files/.env.md
      +line("|-- ", "package.json", ["configuration"]): include:md files/package.json.md
      +line("|-- ", "component.json", ["configuration show"]): include:md files/component.json.md

    +grouping("boilerplate", ["parent-3 boilerplate"])
      +line("|-- ", "Makefile", ["boilerplate"]): include:md files/Makefile.md
      +line("|-- ", "Procfile", ["boilerplate"]): include:md files/Procfile.md
      +line("|-- ", "app.js", ["boilerplate"]): include:md files/app.js.md

    +grouping("build", ["parent-7 build"])
      +line("|-- ", "build", ["build"]): include:md files/build
      +line("|   |-- ", "app.js", ["build"]) aaa
      +line("|   |-- ", "ie-fixes.js", ["build"]) aaa
      +line("|   |-- ", "require.js", ["build"]) aaa
      +line("|   |-- ", "script.js", ["build"]) aaa
      +line("|   |-- ", "style.css", ["build"]) aaa
      +line("|   `-- ", "vendor.js", ["build"]) aaa

    +grouping("  ", ["parent-1"])
      +line("|-- ", "public", [], true) aaa

    +grouping("javascript", ["parent-7 javascript"])
      +line("|   |-- ", "javascripts") aaa
      +line("|   |   |-- ", "controllers") aaa
      +line("|   |   |-- ", "directives") aaa
      +line("|   |   |-- ", "filters") aaa
      +line("|   |   |-- ", "index.js") aaa
      +line("|   |   |-- ", "routes.js") aaa
      +line("|   |   `-- ", "services") aaa

    +grouping("partials", ["parent-3 partials"])
      +line("|   |-- ", "partials", ["markup"]) aaa
      +line("|   |   |-- ", "header.jade", ["markup"]) aa
      +line("|   |   `-- ", "index.jade", ["markup"]) aaa

    +grouping("styles", ["parent-4 styles"])
      +line("|   `-- ", "stylesheets") aaa
      +line("|       |-- ", "index.styl") aaa
      +line("|       |-- ", "main.styl") aaa
      +line("|       `-- ", "variables.styl") aaa

    +grouping("view", ["parent-2 view"])
      +line("`-- ", "views") aaa
      +line("    `-- ", "index.jade") aaa